* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --white: #fff;
  --colorPrimary: #483C67;
  --colorSecundary: rgb(26, 18, 59);
  --colorTertiary: rgb(88, 68, 167);
  --colorDetails: #E96379;
  --colorNac: #666;
  --colorFocus: rgb(245, 147, 36);
  --colorShadow: rgba(6, 6, 6, 0.1)
}

body {

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font:400 16px 'Roboto', sans-serif;
}

a {
  color: var(--colorPrimary);
}

a:hover,
a:focus {
  color: var(--white);
  background-color: var(--colorPrimary);
  text-decoration: none;
}


article {
  padding-right: 40px;
}

article a img { 
  width: 150px;
  transform: translate(-10px, -15px);
}

article a { 
  background-color: var(--white);
  color: var(--colorPrimary);
}


article a.githubpages {
  
  align-items: center;
  background-color: var(--colorPrimary);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 8px;
  color: var(--white);
  text-decoration: none;
  display: flex;
  height: 110px;
  width: 510px;
  text-indent: 25px;
  margin: 50px 0 30px;
  transition: background-color ease-in-out .2s;
}

article a.githubpages:hover {
  background-color: var(--colorTertiary);
}


article h1 {
  margin-bottom: 28px;
}

article p {
  line-height: 28px;
  margin-bottom: 28px;
}



aside {
  padding-top: 2px;
}

aside ul { 
  margin-top: 8px;  
}
aside ul a {
  display: block;
  padding: 8px;
}

figure {

  transform: translateY(-50px);
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 2px;

}

header {
  
  background: var(--colorPrimary) url(../images/header.jpg) no-repeat;
  background-size: 50%;
  letter-spacing: -1px;
}

header div {
  color: #fff;
  display: flex;
  height: 150px;
  justify-content: space-between;
}

header div a:hover {
  background-color: initial;
}

header .logo {
  height: 150px;
  transform: translate(75px, 24px);
  width: 150px;
}


header p {
  font-size: 5rem;
  font-weight: 900;
  letter-spacing: -2px;
  line-height: 52px;
  transform: translateY(24px);
  width: 50vw;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.2);
}

header p span {
  text-shadow: initial;
  font-size: 4rem;
}

div.content {
  display: flex;
  min-height: 40vh;
  padding: 35px 55px;
  justify-content: space-between;
}


header nav {
  align-content: flex-end;
  background-color: var(--colorSecundary);
  box-shadow: 0 -1px 1px 1px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-evenly;
}

header nav a {
  color: var(--colorDetails);
  text-decoration: none;
  display: block;
  padding: 20px 0;
  flex-grow: 1;
  text-align: center;
  letter-spacing: 1px;
  text-transform: uppercase;
  transition: background-color ease-in-out .277s;
  
}

nav.breadcrumb {
  padding: 30px 55px 0;
  color: var(--linkNav)
}

ul {
  list-style: none;
}


footer {
  background-color: var(--colorPrimary);
  color: #fff;
  display: flex;
  height: 7vh;
  justify-content: space-between;
  
}

footer * { 
  color: var(--colorDetails);
  font-size: .8rem;
  padding-top: 14px;
}

footer > * { 
  text-indent: 23px;
}

footer > * ~ * { 
  background-color: #fff;
  padding-right: 20px;
}


div.video {
  
  max-width: 100%;
  height: 140px;
  overflow: hidden;
  

}

video {
 
  width: 100vw;
  transform: translateY(-170px) ;

}


form#contact {

  border-right: 1px solid rgba(133, 133, 133, .4);
  display: flex;
  flex-direction: column;
  padding: 0 120px 40px 0;

  
}

form#contact button {
  
  background-color: var(--colorPrimary);
  border: none;
  border-radius: 4px;
  color: #fff;
  font-size: 1.4rem;
  margin-top: 54px;
  padding: 20px 15px;
  width: 100%;
  transition: all ease-in .3s;

}

form#contact button:hover {
  cursor: pointer;
  background-color: var(--colorDetails);
  
}

form#contact fieldset {
  
  display: flex;
  flex-direction: column; 
  border: 0;
  padding-top: 25px;
  
}

form#contact fieldset:first-of-type label {
  margin-top: 18px;
}

form#contact fieldset.technologies {

  margin-top: 64px;
  border: 1px solid #ccc;
  padding: 0 50px 64px;

}

form#contact fieldset.technologies label {
  font-size: 1.02rem;
  text-indent: 11px;
}

form#contact fieldset.technologies legend {
  padding: 0 15px;
  font-style: italic;
  font-size: 1.2rem;
}

form#contact p {
  font:800 1.4rem 'Roboto', sans-serif;
}

form#contact input {
  border: none;
  border-bottom: 1px solid #ccc ;
  font-size: 1.2rem;
  padding: 8px;
}

form#contact input[type="range"] {
  cursor: pointer;  
}


form#contact select {
  font-size: 1rem;
  padding: 9px 9px;
  border: 1px solid rgba(133, 133, 133, .4)
}

form#contact select option {
  cursor: pointer;
  padding: 3px;

}

form#contact textarea {
  border: 1px solid #ccc ;
  font-size: 1.1rem;
  height: 120px;
  margin-top: 13px;
  padding: 8px;
}

form#contact textarea:focus {
  box-shadow:  2px 2px 2px 2px var(--colorShadow);
}


form#contact input,
form#contact textarea {
  transition: border 0.8s ease;
}

form#contact input:focus {
  border-bottom: 1px solid var(--colorFocus);
  outline: none;
}

form#contact textarea:focus {
  border: 1px solid var(--colorFocus);
  outline: none;
}

form#contact label
{
  line-height: 28px;
  padding: 6px 0;
  margin-top: 40px;
}

form#contact label span[class] {
  font-style: italic;
}

form#contact label span:not([class]) {
  cursor: pointer;
}

form#contact label input[type="checkbox"],
form#contact label input[type="number"]
{
  margin-left: 9px;
}

form#contact label input[type="number"] {
  border: 1px solid #666;
  max-width: 60px;
}
